lab2/article.pdf
lab2/BGD_1.5.png
lab2/logistic.png
lab2/perceptron.png
lab2/SGD_0.9.png
lab3/article.pdf
lab3/HMMAssignment2022.zip
lab3/HMMAssignment2022/handout.zip
lab3/HMMAssignment2022/assignment3.zip
